/*
Fonts:
Font Family: Nunito;
Font Weight: 400,700
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap" rel="stylesheet">


Colors:
$primary: #665C84; Violet
$secondary: #FF7657; Orange
$terciary: #FFBA5A; Yellow

Colors Text:
$dark: #000000;
$gray: #969696;


$bg-primary: #E5E5E5; Light Grey
bg-primary-one: #AA92EF; Light Purple
$bg-secondary: #EAEAEA; Super Light Grey
*/

/*
GLOBAL
*/
body{
  margin:0;
  padding:0;
  background-color: var(--bg-primary);
  font-family: 'Nunito', sans-serif;
  font-size: 10px;
  width: 100vw;
  height: 100vh;
}
*{
  box-sizing: border-box;
}
a{
  text-decoration: none;
  cursor: pointer;
}
ul{
  margin:0;
  padding:0;
  list-style: none;
}

.p-layout{
  padding:0 1.5em;
}
/*Variables*/
:root{
  --primary: #665C84;
  --bg-primary: #F4F4F4;
  --bg-secondary: #E5E5E5;
  --gray: #969696;
}

/*Layout*/
.grid-container {
  display: grid;
  grid-template-columns: 20vw 5fr;
  grid-template-rows: 15vh 1fr;
  grid-template-areas:
  "Navbar Header"
  "Navbar main";
  height: 100vh;
}

/************NAVBAR***************/
.navbar {
  grid-area: Navbar;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all ease-in 1s;
}
.user__profile{
  display: flex;
  align-items: center;
  padding: 10px;
  margin-top:20px;
  transition: all ease-in-out 1s;
}
.img_profile{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.profile{
  width: 100%;
  height: 100%;
}

.text__profile{
  color: #FFFFFF;
  margin-left: 10px;
  text-overflow: clip;
  line-height: 15px;
}
.name__profile{
  color:#F3F3F3;
}


.card{
  display:flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  width:90%;
}
.card-content{
  display:flex;
  border-radius: 14px;
  background-color: white;
  justify-content: space-around;
  align-items: center;
  height:50px;
  width:100%;
}


.bg-card-one{
  background-color:#AACFF1;
}
.bg-card-two{
  background-color: #FF9F89;
}
.bg-card-three{
  background-color: #FF7657;
}
.box-icon{
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}
.box-icon i{
  color: var(--primary);
  font-size: 1.5em;
}
#less{
  color: var(--primary);
  font-weight: bolder;
  font-size: 1.5em;
  transform: rotate(180deg);
}
.text__card{
  color: var(--gray);
  line-height: 6px;
}
.text__card:first-child{
  font-size: 1em;
  text-justify: auto;
}
.text__card p:nth-last-child(1){
  font-weight: 700;
  font-size: 1.5em;
  color: #6C6C6C;
}


@media screen and (max-width: 576px) {
  .img_profile{
    width: 33px;
    height: 33px;
    margin-bottom: 40px;
  }
  .grid-container{
    grid-template-columns: 10vh 1fr;
}
  .text__profile{
    display: none;
  }
  .card-content{
    background-color: var(--primary);
  }
  #less{
    display: none;
  }
}
@media screen and (max-width: 768px){
  .user__profile{
    flex-direction: column;
    text-align: center;
  }
}
@media only screen and (max-width: 1024px){
  .text__card{
    display:none;
  }
}


@media screen and (max-width: 675px) {
  .text__profile{
    margin:0;
  }
  .img_profile{
    width: 50px;
    height: 50px;
  }
}
/************END NAVBAR***************/


/************HEADER***************/
.header {
  grid-area: Header;
  /*border: 1px solid var(--primary);*/
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all ease-in-out 2s;
}
.header__menu{
  display:flex;
  justify-content: flex-end;
  position: relative;
  flex-grow: 1;
  transition: flex-end ease-out 3s;
}
.items{
  padding: 0 3em 0 0;
}

.item{
  font-size: 2em;
  color: var(--gray)
}
.active{
  color: #000000 !important;
}
.search{
  position:relative;
  display: inline-flex;
  align-items: center;
  transition: all ease-out 1s;
  min-width: 200px;
  padding-right: 15px;
}
.search i{
  position: absolute;
  right:0;
  font-size: 1.5em;
  padding: 0 27px 0 0;
  color: var(--gray)
}


.search__input{
  border: none;
  outline: none;
  height: 40px;
  width: 300px;
  background: var(--bg-secondary);
  border-radius: 20px;
  padding-left:2em;
  position: relative;
  color:var(--gray)
}

@media screen and (max-width: 375px) {

}

@media screen and (max-width: 576px) {
  .header{
    flex-direction: column-reverse;
    align-items: center;
    padding: 0;
  }
  .search__input{
    width: 100%;
  }
  .search{
    width: 80%;
    margin-top: 20px;
    flex-grow: 1;
  }
  .header__menu{
    margin-top: 10px;
    text-align: center;
    justify-content: center;
  }
}
/***********END HEADER*************/

/************MAIN***************/
.content {
  grid-area: main;
  position: relative;
  overflow-y: scroll;
}
.content::-webkit-scrollbar {
  width: 12px;
}

.content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 .1rem var(--bg-secondary); 
  border-radius: 10px;
}
 
/* Handle */
.content::-webkit-scrollbar-thumb {
  background: var(--gray); 
  border-radius: 10px;
}

/* Handle on hover */
.content::-webkit-scrollbar-thumb:hover {
  background: var(--primary); 
}

.navbar-responsive{
  display:flex;
  margin: 1.5em;
}
#non-display{
  display: none;
}
.navbar-responsive i{
  font-size: 2em;
  color: var(--gray)
}
#toggle-main{
  display:none;
}
#toggle-main:checked + .main__navigation{
  display:flex;
}
.main__navigation{
  align-items: center;
  flex-direction:column;
  transition: all ease-in 4s;
}

.nav__link{
  color: var(--gray);
  font-size: 2em;
  padding: 10px;
}
@media screen and (max-width:576px){
  .navbar-responsive{
    flex-direction: column;
    align-items: center;
  }
  #non-display{
    display: block;
  }
  .main__navigation{
    display:none;
  }
  .nav__link{
    font-size: 1.5em;
  }
}

@media screen and (min-width:768px){
  .navbar-responsive{
    position:sticky;
    top:0;
    background-color: var(--bg-primary);
  }
}
.main{
  margin-top:20px;
}

.box{
  height: 400px;
  background-color: red;
}